img {
    width: 100%;
}

.btn-game {
    color: #840000;
    background: linear-gradient(to right, #FFC371, #FF5F6D);
    border-color: #a10a0a;
    font-size: 17px;
    font-weight: 900;
    font-family: monospace;
    transition: 0.2s;
}

.btn-game:hover {
    color: white;
    text-shadow: 0 0 10px #ed0b0b;
    box-shadow: 0 0 10px #ed0b0b;
}

body {
    background: url(img-app/1.jpg);
}

.card-con {
    background: linear-gradient(to left, rgb(93 70 76), rgb(145 70 67));
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: #000000d2!important;
}

.news-item {
    max-height: 70vh;
    min-height: 70vh;
    max-width: 65vw;
    margin: 10px auto;   
}